@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

p {
    font-size: 40px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 14rem;
}